<?xml version = '1.0'?>
<DatabaseTemplate name="db_12201_cdb_CL8ISO8859P5" description="" version="12.2.0.1.0">
   <CommonAttributes>
      <option name="OMS" value="false"/>
      <option name="JSERVER" value="true"/>
      <option name="SPATIAL" value="false"/>
      <option name="IMEDIA" value="false"/>
      <option name="ORACLE_TEXT" value="true"/>
      <option name="SAMPLE_SCHEMA" value="false"/>
      <option name="CWMLITE" value="false"/>
      <option name="APEX" value="false"/>
      <option name="DV" value="false"/>
   </CommonAttributes>
   <Variables/>
   <CustomScripts Execute="false"/>
   <PluggableDatabases>
      <PluggableDatabase pdb_name="PDB$SEED" con_id="2" pdb_dbid="3058034083"/>
   </PluggableDatabases>
   <InitParamAttributes>
      <InitParams>
         <initParam name="cluster_database" value="FALSE"/>
         <initParam name="db_create_file_dest" value="{{ oradata }}"/>
         <initParam name="db_name" value=""/>
         <initParam name="db_domain" value=""/>
         <initParam name="dispatchers" value="(PROTOCOL=TCP) (SERVICE={{ sid }}XDB)"/>
         <initParam name="audit_file_dest" value="{{ oracle_base }}/admin/{{ sid }}/adump"/>
         <initParam name="compatible" value="12.2.0.1"/>
         <initParam name="remote_login_passwordfile" value="EXCLUSIVE"/>
         <initParam name="db_create_online_log_dest_1" value="{{ oradata }}"/>
         <initParam name="job_queue_processes" value="100"/>
         <initParam name="clonedb" value="TRUE"/>
         <initParam name="sga_target" value="4294967296"/>
         <initParam name="parallel_min_servers" value="0"/>
         <initParam name="processes" value="1000"/>
         <initParam name="undo_tablespace" value="UNDOTBS1"/>
         <initParam name="control_files" value="(&quot;{{ oracle_base }}}/oradata/{{ sid }}/o1_mf_fv901bz7_.ctl&quot;)"/>
         <initParam name="diagnostic_dest" value="{{ oracle_base }}/admin/{{ sid }}"/>
         <initParam name="enable_pluggable_database" value="TRUE"/>
         <initParam name="db_recovery_file_dest" value="/dbfra"/>
         <initParam name="audit_trail" value="DB"/>
         <initParam name="audit_sys_operations" value="FALSE"/>
         <initParam name="db_files" value="1000"/>
         <initParam name="nls_territory" value="AMERICA"/>
         <initParam name="db_block_size" value="8192"/>
         <initParam name="recyclebin" value="OFF"/>
         <initParam name="open_cursors" value="300"/>
         <initParam name="nls_language" value="AMERICAN"/>
         <initParam name="db_recovery_file_dest_size" value="322122547200"/>
         <initParam name="pga_aggregate_target" value="1073741824"/>
         <initParam name="_trace_files_public" value="TRUE"/>
      </InitParams>
      <MiscParams>
         <customSGA>false</customSGA>
         <dataVaultEnabled>false</dataVaultEnabled>
         <characterSet>CL8ISO8859P5</characterSet>
         <nationalCharacterSet>AL16UTF16</nationalCharacterSet>
         <archiveLogMode>{{ archive_mode|lower }}</archiveLogMode>
         <initParamFileName>{{ oracle_base }}/admin/{{ sid }}/pfile/init.ora</initParamFileName>
      </MiscParams>
      <SPfile useSPFile="true">{{ oracle_home }}/dbs/spfile{{ sid }}.ora</SPfile>
   </InitParamAttributes>
   <StorageAttributes>
      <DataFiles>
         <Location>{{ oracle_home }}/assistants/dbca/templates/db_12201_cdb_CL8ISO8859P5.dfb</Location>
         <SourceDBName cdb="true">{{ sid }}</SourceDBName>
         <Name id="3" Tablespace="SYSAUX" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="1">{{ oradata }}/o1_mf_sysaux_fv901ld4_.dbf</Name>
         <Name id="10" Tablespace="SYSAUX" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="1">{{ oradata }}/o1_mf_sysaux_fv92rbqg_.dbf</Name>
         <Name id="1" Tablespace="SYSTEM" Contents="PERMANENT" Size="784" autoextend="true" blocksize="8192" con_id="1">{{ oradata }}/o1_mf_system_fv901f16_.dbf</Name>
         <Name id="7" Tablespace="SYSTEM" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="1">{{ oradata }}/o1_mf_system_fv92r8cn_.dbf</Name>
         <Name id="8" Tablespace="SYSTEM" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="1">{{ oradata }}/o1_mf_system_fv92r98r_.dbf</Name>
         <Name id="9" Tablespace="SYSTEM" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="1">{{ oradata }}/o1_mf_system_fv92r9yp_.dbf</Name>
         <Name id="5" Tablespace="UNDOTBS1" Contents="UNDO" Size="280" autoextend="true" blocksize="8192" con_id="1">{{ oradata }}/o1_mf_undotbs1_fv901nlm_.dbf</Name>
         <Name id="4" Tablespace="SYSAUX" Contents="PERMANENT" Size="376" autoextend="true" blocksize="8192" con_id="2">{{ oradata }}/pdbseed/o1_mf_sysaux_fv901m77_.dbf</Name>
         <Name id="2" Tablespace="SYSTEM" Contents="PERMANENT" Size="248" autoextend="true" blocksize="8192" con_id="2">{{ oradata }}/pdbseed/o1_mf_system_fv901g4j_.dbf</Name>
         <Name id="6" Tablespace="UNDOTBS1" Contents="UNDO" Size="300" autoextend="true" blocksize="8192" con_id="2">{{ oradata }}/pdbseed/o1_mf_undotbs1_fv901o1g_.dbf</Name>
      </DataFiles>
      <TempFiles>
         <Name id="1" Tablespace="TEMP" Contents="TEMPORARY" Size="200" con_id="1">{{ oradata }}/o1_mf_temp_fv901o6t_.tmp</Name>
         <Name id="2" Tablespace="TEMP" Contents="TEMPORARY" Size="200" con_id="2">{{ oradata }}/pdbseed/o1_mf_temp_fv901o7m_.tmp</Name>
      </TempFiles>
      <ControlfileAttributes id="Controlfile">
         <maxDatafiles>1024</maxDatafiles>
         <maxLogfiles>16</maxLogfiles>
         <maxLogMembers>3</maxLogMembers>
         <maxLogHistory>292</maxLogHistory>
         <maxInstances>8</maxInstances>
         <image name="o1_mf_fv901bz7_.ctl" filepath="{{ oradata }}/"/>
      </ControlfileAttributes>
      <RedoLogGroupAttributes id="1">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_1_fv901c1s_.log" filepath="{{ oradata }}/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="2">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_2_fv901c74_.log" filepath="{{ oradata }}/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="3">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_3_fv901cfd_.log" filepath="{{ oradata }}/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="4">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_4_fv901cnb_.log" filepath="{{ oradata }}/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="5">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_5_fv901cvl_.log" filepath="{{ oradata }}/"/>
      </RedoLogGroupAttributes>
   </StorageAttributes>
</DatabaseTemplate>
