<?xml version = '1.0'?>
<DatabaseTemplate name="db_12102_noncdb_CL8ISO8859P5" description="" version="12.1.0.2.0">
   <CommonAttributes>
      <option name="OMS" value="false"/>
      <option name="JSERVER" value="true"/>
      <option name="SPATIAL" value="false"/>
      <option name="IMEDIA" value="false"/>
      <option name="XDB_PROTOCOLS" value="true"/>
      <option name="ORACLE_TEXT" value="true"/>
      <option name="SAMPLE_SCHEMA" value="false"/>
      <option name="CWMLITE" value="false"/>
      <option name="APEX" value="false"/>
      <option name="DV" value="false"/>
   </CommonAttributes>
   <Variables/>
   <CustomScripts Execute="false"/>
   <InitParamAttributes>
      <InitParams>
         <initParam name="cluster_database" value="FALSE"/>
         <initParam name="db_create_file_dest" value="{{ oradata }} "/>
         <initParam name="db_name" value=""/>
         <initParam name="dispatchers" value="(PROTOCOL=TCP) (SERVICE={{ sid }}XDB)"/>
         <initParam name="audit_file_dest" value="{{ oracle_base }}/admin/{{ sid }}/adump"/>
         <initParam name="compatible" value="12.1.0.2"/>
         <initParam name="shared_pool_size" value="1073741824"/>
         <initParam name="remote_login_passwordfile" value="EXCLUSIVE"/>
         <initParam name="db_create_online_log_dest_1" value="{{ oradata }}"/>
         <initParam name="job_queue_processes" value="50"/>
         <initParam name="sga_target" value="2147483648"/>
         <initParam name="parallel_min_servers" value="0"/>
         <initParam name="processes" value="500"/>
         <initParam name="undo_tablespace" value="UNDOTBS1"/>
         <initParam name="control_files" value="(&quot;{{ oradata }}/o1_mf_fv67jjts_.ctl&quot;)"/>
         <initParam name="diagnostic_dest" value="{{ oracle_base }}/admin/{{ sid }}"/>
         <initParam name="db_recovery_file_dest" value="/dbfra"/>
         <initParam name="audit_trail" value="DB"/>
         <initParam name="db_block_size" value="8192"/>
         <initParam name="open_cursors" value="300"/>
         <initParam name="db_recovery_file_dest_size" value="214748364800"/>
         <initParam name="pga_aggregate_target" value="1073741824"/>
         <initParam name="_trace_files_public" value="TRUE"/>
      </InitParams>
      <MiscParams>
         <dataVaultEnabled>false</dataVaultEnabled>
         <archiveLogMode>{{ archive_mode|lower }}</archiveLogMode>
         <initParamFileName>{{ oracle_base }}/admin/{{ sid }}/pfile/init.ora</initParamFileName>
      </MiscParams>
      <SPfile useSPFile="true">{{ oracle_home }}/dbs/spfile{{ sid }}.ora</SPfile>
   </InitParamAttributes>
   <StorageAttributes>
      <DataFiles>
         <Location>{{ oracle_home }}/assistants/dbca/templates/db_12102_noncdb_CL8ISO8859P5.dfb</Location>
         <SourceDBName cdb="false">htfx9</SourceDBName>
         <Name id="2" Tablespace="SYSAUX" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="0">{{ oradata }}/o1_mf_sysaux_fv67jnyz_.dbf</Name>
         <Name id="7" Tablespace="SYSAUX" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="0">{{ oradata }}/o1_mf_sysaux_fv68kbw1_.dbf</Name>
         <Name id="1" Tablespace="SYSTEM" Contents="PERMANENT" Size="656" autoextend="true" blocksize="8192" con_id="0">{{ oradata }}/o1_mf_system_fv67jlhl_.dbf</Name>
         <Name id="4" Tablespace="SYSTEM" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="0">{{ oradata }}/o1_mf_system_fv68k895_.dbf</Name>
         <Name id="5" Tablespace="SYSTEM" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="0">{{ oradata }}/o1_mf_system_fv68k9lg_.dbf</Name>
         <Name id="6" Tablespace="SYSTEM" Contents="PERMANENT" Size="400" autoextend="true" blocksize="8192" con_id="0">{{ oradata }}/o1_mf_system_fv68kb69_.dbf</Name>
         <Name id="3" Tablespace="UNDOTBS1" Contents="UNDO" Size="460" autoextend="true" blocksize="8192" con_id="0">{{ oradata }}/o1_mf_undotbs1_fv67jp5y_.dbf</Name>
      </DataFiles>
      <TempFiles>
         <Name id="1" Tablespace="TEMP" Contents="TEMPORARY" Size="200" con_id="0">{{ oradata }}/o1_mf_temp_fv67jpq5_.tmp</Name>
      </TempFiles>
      <ControlfileAttributes id="Controlfile">
         <maxDatafiles>100</maxDatafiles>
         <maxLogfiles>16</maxLogfiles>
         <maxLogMembers>3</maxLogMembers>
         <maxLogHistory>292</maxLogHistory>
         <maxInstances>8</maxInstances>
         <image name="o1_mf_fv67jjts_.ctl" filepath="{{ oradata }}"/>
      </ControlfileAttributes>
      <RedoLogGroupAttributes id="1">
         <reuse>false</reuse>
         <fileSize unit="KB">153600</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_1_fv67jjy0_.log" filepath="{{ oradata }}"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="2">
         <reuse>false</reuse>
         <fileSize unit="KB">153600</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_2_fv67jk2x_.log" filepath="{{ oradata }}"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="3">
         <reuse>false</reuse>
         <fileSize unit="KB">153600</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_3_fv67jk9b_.log" filepath="{{ oradata }}"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="4">
         <reuse>false</reuse>
         <fileSize unit="KB">153600</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_4_fv67jkjh_.log" filepath="{{ oradata }}"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="5">
         <reuse>false</reuse>
         <fileSize unit="KB">153600</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="o1_mf_5_fv67jkqq_.log" filepath="{{ oradata }}"/>
      </RedoLogGroupAttributes>
   </StorageAttributes>
</DatabaseTemplate>
