db_name={{ sid }}
db_create_file_dest={{ oradata }}
db_create_online_log_dest_1={{ oradata }}
diagnostic_dest=/u/app/oracle/admin/{{ sid }}
audit_file_dest=/u/app/oracle/admin/{{ sid }}/adump
control_files=({{ oradata }}/control01.ctl)
local_listener='{{ local_listener }}'
sga_target=2G
shared_pool_size=1G
pga_aggregate_target=1G
pga_aggregate_limit=4G
open_cursors=300
session_cached_cursors=100
processes=500
nls_language=AMERICAN
nls_territory=AMERICA
timed_statistics=TRUE
audit_trail='db'
db_block_size=8192
remote_login_passwordfile='EXCLUSIVE'
undo_management='AUTO'
undo_retention=900
undo_tablespace='UNDOTBS1'
job_queue_processes=50
workarea_size_policy=AUTO
_trace_files_public=TRUE
parallel_min_servers=0
db_recovery_file_dest_size=100G
db_recovery_file_dest=/dbfra
archive_lag_target=900
compatible={{ compatible }}